@model GRUD.Models.ContactDetailViewModel

<label>Vooraam</label>
<p><strong>@Model.FirstName</strong></p>

<label>Famillienaam</label>
<p><strong>@Model.LastName</strong></p>

<label>Leeftijd</label>
<p><strong>@ageCalculator(Model.DateOfBirth)</strong></p>

<label>Email adres</label>
<p><strong>@Model.Email</strong></p>

<label>Telefoon nummer</label>
<p><strong>@Model.PhoneNumber</strong></p>

<label>Adres</label>
<p><strong>@Model.Adress</strong></p>

<label>Beschrijving</label>
<p><strong>@Model.Description</strong></p>
<label>Categorie</label>
<p><strong>@Model.C</strong></p>

<label>Foto</label>
<img src="@ConvertBytesToImg(Model.ImageName)" style="display:block" />


@functions{
    string ageCalculator(DateTime DateOfBirth)
    {
        int age = DateTime.Today.Year - DateOfBirth.Year;

        if (DateOfBirth.Date > DateTime.Today.AddYears(-age)) age--;
        return age.ToString();
    }

    string ConvertBytesToImg(Byte[] image)
    {
        string imreBase64Data = Convert.ToBase64String(image);

        return $"data:image/png;base64,{imreBase64Data}";
    }
}